In [133]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [134]:
games_details = pd.read_csv('../data/games_details.csv')
games = pd.read_csv('../data/games.csv')
players = pd.read_csv('../data/players.csv')
teams = pd.read_csv('../data/teams.csv')
ranking = pd.read_csv('../data/ranking.csv')

/var/folders/36/dqn14xy95j93q4nqhpjrg0s80000gn/T/ipykernel_50431/3696978684.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details = pd.read_csv('../data/games_details.csv')

In [135]:
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

Using only games and not rankings

In [136]:
teams_id = games['HOME_TEAM_ID'].unique()
seasons =  games['SEASON'].unique()

In [137]:
games['AWAY_TEAM_WINS'] = games['HOME_TEAM_WINS'].apply(lambda x: 1 if x == 0 else 0)

In [138]:
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,AWAY_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1,0
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1,0
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1,0
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1,0
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1,0
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0,1
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1,0
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1,0
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0,1

In [139]:
# Grouping the original data to calculate sums for each TEAM_ID and SEASON_ID
grouped_data_home = games.groupby(['HOME_TEAM_ID', 'SEASON']).agg({'PTS_home':'sum', 
                                                              'FG_PCT_home': 'sum',
                                                                'FT_PCT_home': 'sum',
                                                                'FG3_PCT_home': 'sum',  
                                                                'AST_home': 'sum', 
                                                                'REB_home': 'sum',
                                                              'HOME_TEAM_WINS': 'sum'}).reset_index()
grouped_data_home['HOME_GAMES_PLAYED'] = games.groupby(['HOME_TEAM_ID', 'SEASON']).agg({'HOME_TEAM_WINS':'count'}).reset_index()['HOME_TEAM_WINS']
grouped_data_away = games.groupby(['VISITOR_TEAM_ID', 'SEASON']).agg({'PTS_away':'sum',
                                                                   'FG_PCT_away': 'sum',
                                                                    'FT_PCT_away': 'sum',
                                                                    'FG3_PCT_away': 'sum',
                                                                    'AST_away': 'sum',
                                                                    'REB_away': 'sum',
                                                                    'AWAY_TEAM_WINS': 'sum'}).reset_index()
grouped_data_away['AWAY_GAMES_PLAYED'] = games.groupby(['VISITOR_TEAM_ID', 'SEASON']).agg({'AWAY_TEAM_WINS':'count'}).reset_index()['AWAY_TEAM_WINS']
grouped_data = pd.merge(grouped_data_home, grouped_data_away, left_on=['HOME_TEAM_ID', 'SEASON'], right_on=['VISITOR_TEAM_ID', 'SEASON'], how='outer')
grouped_data.drop(columns=['VISITOR_TEAM_ID'], inplace=True)
grouped_data.rename(columns={'HOME_TEAM_ID': 'TEAM_ID'}, inplace=True)
# ordering by season
grouped_data = grouped_data.sort_values(by=['SEASON', 'TEAM_ID']).reset_index(drop=True)

# y 
grouped_data['win%'] = (grouped_data['HOME_TEAM_WINS'] + grouped_data['AWAY_TEAM_WINS']) / (grouped_data['HOME_GAMES_PLAYED'] + grouped_data['AWAY_GAMES_PLAYED'])

grouped_data.drop(columns=['HOME_TEAM_WINS', 'AWAY_TEAM_WINS', 'HOME_GAMES_PLAYED', 'AWAY_GAMES_PLAYED'], inplace=True)

In [140]:
grouped_data

,TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,win%
0,1610612737,2003,4023.0,18.417,32.679,14.154,850.0,1864.0,3668.0,17.501,31.373,12.516,816.0,1684.0,0.366667
1,1610612738,2003,4185.0,19.492,33.619,15.096,907.0,1841.0,4053.0,19.015,32.211,14.146,867.0,1650.0,0.425532
2,1610612739,2003,3917.0,17.853,31.496,13.037,963.0,1893.0,3885.0,18.717,31.156,13.925,891.0,1941.0,0.455556
3,1610612740,2003,4207.0,19.507,33.375,15.414,1038.0,1907.0,3991.0,18.272,34.342,13.256,840.0,1937.0,0.515464
4,1610612741,2003,3645.0,16.630,29.449,14.197,933.0,1872.0,3768.0,17.942,30.515,14.893,870.0,1726.0,0.288889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
594,1610612762,2022,2269.0,9.255,14.148,7.252,504.0,853.0,2232.0,9.036,15.240,7.023,503.0,863.0,0.512821
595,1610612763,2022,2006.0,8.103,12.614,5.846,456.0,856.0,2010.0,8.163,12.764,6.063,412.0,843.0,0.628571
596,1610612764,2022,1760.0,7.424,12.793,5.987,399.0,709.0,2282.0,9.889,15.297,6.437,508.0,892.0,0.351351
597,1610612765,2022,2004.0,8.116,13.797,6.207,416.0,775.0,2169.0,8.736,15.892,6.642,420.0,870.0,0.210526
598,1610612766,2022,1938.0,7.666,13.180,5.517,431.0,833.0,2095.0,8.558,13.873,6.024,448.0,866.0,0.216216

In [141]:
# shifting the value to be predicted (win%) by one row behind such that the model can predict the win% for the next season
grouped_data['win%'] = grouped_data.groupby('TEAM_ID')['win%'].shift(-1)
grouped_data.dropna(inplace=True)

In [142]:
x = grouped_data.drop(columns=['win%'])
y = grouped_data['win%']

In [143]:
y.min(), y.max()

(np.float64(0.11764705882352941), np.float64(0.839622641509434))

In [144]:
# saving the data
#x.to_csv('../data/x.csv', index=False)
#y.to_csv('../data/y.csv', index=False)